{{>layout/header}}
<p></p><p></p>
<h1 style="text-align:center;color:#ED6E31">Daaangn Market</h1>
<center>
    <img src="/js/app/logo2.png" width="160px" height="200px" />
</center>
<p/>
<div class="login" style="text-align: center;">
    <form>
        <div class="input">
            <label for="name"></label>
            <input type="text" class="input_text" id="name" placeholder="name">
        </div>
        <p/>
        <div class="input">
            <label for="password"></label>
            <input type="text" class="input_text" id="password" placeholder="password">
        </div>
    </form>
    <p></p>
    <button type="button">LOGIN</button>
    <p></p>
    <a href="/signup" role="button">SIGN UP!</a>
</div>
{{>layout/footer}}
</html>